<nav class="alert alert-primary p-3">
    <a href="/" class="text-decoration-none text-dark fw-bold me-3">Basket League</a>

    <a href="/players" class="btn btn-primary btn-sm">Jugadores</a>
    <a href="/teams" class="btn btn-secondary btn-sm">Equipos</a>
    <a href="/matches" class="btn btn-secondary btn-sm">Partidos</a>

    <a href="/auth/login" class="btn btn-success btn-sm float-end">Login</a>
</nav>